<!doctype html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Personel Sistemi{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

    

<body>
    <header>
        <h1>Vardiya Denetimi</h1>
        <nav>
            <a href="{{ url_for('dashboard') }}">Ana Sayfa</a>
            <a href="{{ url_for('personel_listesi') }}">Personeller</a>
            <a href="{{ url_for('giris_kayitlari') }}">Giriş Kayıtları</a>
            <a href="{{ url_for('register') }}">Kayıt ol</a>
        
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}">Çıkış Yap</a>
            {% else %}
                <a href="{{ url_for('login') }}">Giriş Yap</a>
            {% endif %}
        </nav>
        
        
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>