{% extends "base.html" %}
{% block title %}Kayıt Ol{% endblock %}
{% block content %}
<header><link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}"></header>
<h2>Kayıt Ol</h2>
<form method="post" action="/register">
    <input type="text" name="username" placeholder="Kullanıcı Adı" required><br>
    <input type="email" name="email" placeholder="Email" required><br>
    <input type="password" name="password" placeholder="Şifre" required><br>
    <button type="submit">Kayıt Ol</button>
</form>
<p>Zaten bir hesabın var mı? <a href="{{ url_for('login') }}">Giriş yap</a></p>
{% endblock %}